.disha-image-list {
    list-style-type: none;
    padding-left: 5;
    padding-right: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.disha-image-item {
    margin: 10px;
    flex: 0 0 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disha-shimmer-effect {
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, #f6f7f8 0%, #e9ecef 50%, #f6f7f8 100%);
    background-size: 200% 100%;
    border-radius: 5px;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.disha-image-container {
    height: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
    /* border: 0.5px solid rgba(0, 0, 0, 0.512); */
    border-radius: 5px;
    transition: transform 0.3s ease;
    width: 100%;
}

.disha-image-container img {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
    /* Apply black and white filter */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Add filter to transition */
}

.disha-image-container:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
    /* Remove black and white filter on hover */
}

.spacer {
    height: 150px;
    /* Set the height to 50 pixels */
    background-color: transparent;
    /* Make the background transparent (optional) */
}

.spacer100 {
    height: 100px;
    /* Set the height to 50 pixels */
    background-color: aqua;
    /* Make the background transparent (optional) */
}

.spacer20 {
    height: 20px;
    /* Set the height to 50 pixels */

    /* Make the background transparent (optional) */
}


.image-text {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 570px) {
    .disha-image-item {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .disha-image-container {
        width: 100%;
        text-align: center;
        padding: 0;
        /* Reset padding */
        margin: 0;
        /* Reset margin */
    }

    .disha-image-container img {
        width: 100%;
        height: auto;
        margin: 0 auto;

    }

    .image-text {
        width: 100%;
        align-self: flex-end;
        margin-top: auto;
    }
}

@media screen and (min-width: 580px) {
    .disha-image-item {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 400px;
        min-width: 280px;
    }

    .disha-image-container {
        height: auto;
    }
}

@media screen and (min-width: 990px) {
    .image-text {
        text-align: center;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .disha-image-container img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .disha-image-item {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 400px;
        min-width: 280px;
    }
}